header.header
  .container
    ul.header__list
      li.header__item
        a(href='http://aquar-system.ru' target='_blank') aquar-system.ru
      li.header__item •
      li.header__item Разработка корпоративного сайта
      li.header__item •
      li.header__item Июль 2020
    .stripes
      - for (var i = 0; i < 4; i++)
        div(class="stripes__stripe")
