- var team = ['Project Manager', 'Frontend-разработчик', 'Backend-разработчик', 'Дизайнер', 'Тестировщик']
section.welcome
  .container
    h1.welcome__title Разработка корпоративного сайта <br/>
      span для промышленной компании
    p.welcome__text.text
      | <b>Aquar-system</b> — компания, которая занимается разработкой, производством, наладкой и техническим обслуживанием программно-аппаратных комплексов и средств для контроля и управления техническими параметрами. 
      | Компания создает оборудование для целлюлозно-бумажной, пищевой, химической и строительной промышленностями. 
      | Предлагает собственные решения в области промышленной автоматизации, а также измерительные приборы и датчики для различных отраслей промышленности.
    .welcome__about
      .welcome__content
        .welcome__box
          h4.subtitle Задачи
          ul.welcome__list.text
            li Разработать новый современный сайт-каталог, придерживаясь фирменного стиля компании.
            li Для поставщиков и партнёров создать личный кабинет, где они будут находить всю актуальную информацию по товарам.
            li Дать пользователям всю информацию о товарах, в максимально удобном виде.
            li Запустить сайт в продакшн.	
        .welcome__box
          h4.subtitle Команда
          ul.welcome__list.text
            li Project Manager
            li Frontend-разработчик
            li Backend-разработчик
            li Дизайнер
            li Тестировщик		
        .welcome__box
          h4.subtitle Стек
          .welcome__stacks
            - for (var i = 0; i < 6; i++)
              div.welcome__stack
      img.welcome__logo(src=require("../../assets/img/logo.svg") alt="logo")
