- var team = ['Project Manager', 'Frontend-разработчик', 'Backend-разработчик', 'Дизайнер', 'Тестировщик']
- var tasks = ["Разработать новый современный сайт-каталог, придерживаясь фирменного стиля компании.", "Для поставщиков и партнёров создать личный кабинет, где они будут находить всю актуальную информацию по товарам.","Дать пользователям всю информацию о товарах, в максимально удобном виде.","Запустить сайт в продакшн."];

include ../mixins/mixins.pug
section.welcome
  .container
    h1.welcome__title Разработка корпоративного сайта <br/>
      span для промышленной компании
    p.welcome__text.text
      | <b>Aquar-system</b> — компания, которая занимается разработкой, производством, наладкой и техническим обслуживанием программно-аппаратных комплексов и средств для контроля и управления техническими параметрами. 
      | Компания создает оборудование для целлюлозно-бумажной, пищевой, химической и строительной промышленностями. 
      | Предлагает собственные решения в области промышленной автоматизации, а также измерительные приборы и датчики для различных отраслей промышленности.
    .welcome__about
      .welcome__content
        +textBox("Задачи", tasks) 
        +textBox("Команда", team)   		
        .welcome__box
          h4.subtitle Стек
          .welcome__stacks
            - for (var i = 0; i < 6; i++)
              div.welcome__stack
      .welcome__logo
