.design {
  &__container {
    display: flex;
    justify-content: flex-end;
  }
  &__wrapper {
    display: flex;
    gap: 135.5px;
    padding: 40px 0;
  }
  &__image {
    width: 381px;
    height: 381px;
    background: url("../../assets/img/logo2.svg") no-repeat center;
  }
  &__box {
    width: 566px;
  }

  @media (max-width: $max-width) {
    &__container {
      justify-content: center;
    }
    &__wrapper {
      flex-direction: column;
      gap: 11px;
    }
    &__image {
      width: 280px;
      height: 280px;
      background-size: cover;
    }
    &__box {
      width: 100%;
    }
  }
}
