- var companyDetails = [ "Услугах компании", "Визуальных образах, отражающих деятельность и подачу компании на рынке", "Новинках продукции и их уникальности", "Качественной продукции и решениях компании", "Высоком научном потенциале компании и современных высокотехнологичных решениях", "Конкурентных преимуществах компании (разработка, производство, сервис и выгодная ценовая политика)"];

include ../mixins/mixins.pug

+sectionWrapper("design", "design__container", "design__wrapper")
  .design__image
  +textBox("В дизайне мы сделали акцент на", companyDetails, "design__box")