section.design
  .container.design__container
    article.design__wrapper
      .design__image
      .welcome__box.design__box
        h4.subtitle В дизайне мы сделали акцент на
        ul.welcome__list.text
          li услугах компании,
          li визуальных образах, отражающих деятельность и подачу компании на рынке,
          li новинках продукции и их уникальности,
          li качественной продукции и решениях компании,
          li высоком научном потенциале компании и современных высокотехнологичных решениях,
          li конкурентных преимуществах компании (разработка, производство, сервис и выгодная ценовая политика).