.about {
  &__box {
    padding: 40px;
    margin-bottom: 70px;
    background-color: #fff;
    border: 1px solid $red-color;
  }
  &__offer {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    letter-spacing: 0.8px;
    color: #000;
  }
}
