section.about
	.container
		article.about__wrapper
			.about__box
				h4.subtitle Результат
				p.about__text.text
					| Наша команда провела полный процесс разработки сайта 
					| — от аналитики и составления структуры до прототипирования, 
					| дизайна, вёрстки, программирования и тестирования. Создали сайт, 
					| с акцентом на продукции компании, детально проработали личный кабинет 
					| для поставщиков и партнеров, где разместили актуальную информацию о товарах компании. 
					| В результате упростили процесс оформления заявок и взаимодействия с компанией, 
					| что снижает время на поиск нужных товаров и повышает удобство использования сайта.
			p.about__offer
				| Хотите привлечь больше клиентов? Начните с создания сайта! 
				| Наша команда готова стать надежным партнером для решения этой задачи!
