$images: "mobile1", "mobile4", "mobile2", "mobile5", "mobile3", "mobile6";
$heights: 850px, 710px, 710px, 703px, 710px, 843px;
$heights-mob: 229px, 191px, 191px, 189px, 191px, 227px;
$margins: 140px 0 60px 0, 0, 0 0 60px 0, 0, 140px 0 60px 0, 0;
$margins-mob: 30px 0 25px 0, 0, 0 0 25px 0, 0, 30px 0 25px 0, 0;

.mobile {
  &__lines {
    top: 250px;
    left: -50%;
    @media (max-width: $max-width) {
      top: 20%;
      left: -100%;
    }
  }

  &__line {
    width: 100%;
    border-bottom: 1px solid rgba(22, 7, 85, 0.3);
  }

  &__imgs {
    width: min-content;
    column-count: 3;
    column-gap: 25px;
  }

  @for $i from 1 through length($images) {
    &__img:nth-child(#{$i}) {
      display: inline-block;
      width: 370px;
      height: nth($heights, $i);
      background: url("../../assets/img/#{nth($images, $i)}.png")
        center /
        cover
        no-repeat;
      border: $border-color;
      box-shadow: 2px 2px 5px 0px rgba(163, 176, 188, 0.1),
        -4px -4px 8px 0px rgba(163, 176, 188, 0.05);
      margin: nth($margins, $i);
    }
  }

  @media (max-width: $max-width) {
    &__imgs {
      column-gap: 10px;
    }
    @for $i from 1 through length($images) {
      &__img:nth-child(#{$i}) {
        display: inline-block;
        width: 100px;
        height: nth($heights-mob, $i);
        background: url("../../assets/img/#{nth($images, $i)}.png")
          center /
          cover
          no-repeat;
        border: $border-color;
        box-shadow: 2px 2px 5px 0px rgba(163, 176, 188, 0.1),
          -4px -4px 8px 0px rgba(163, 176, 188, 0.05);
        margin: nth($margins-mob, $i);
      }
    }
  }
}
