include ../mixins/mixins.pug

section.mobile
  .container
    +lines(3, "mobile__lines")
    .mobile__wrapper
      .mobile__imgs
        - for (var i = 0; i < 6; i++)
          div(class="mobile__img")
