.process {
  position: relative;
  &__lines {
    position: absolute;
    top: 220px;
    left: -76%;
    display: flex;
    flex-direction: column;
    gap: 160px;
    width: 3000px;
    z-index: -10;
    transform: rotate(20deg);
    animation: slide 2s forwards linear;
  }
  &__line {
    width: 100%;
    border-bottom: 1px solid rgba(22, 7, 85, 0.3);
  }
}

.scroll {
  position: relative;
  &__container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &__track {
    display: flex;
    gap: 25px;
    min-width: min-content;
  }
  &__slide {
    width: 449px;
    height: 600px;
    flex-shrink: 0;
    border: 3px solid $border-color;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
    }
  }
  &__controller {
    position: absolute;
    top: 262px;
    left: 0;
    right: 0;
    width: 100%;
  }
  &__thumb {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid $red-color;
    background: #fff;
    width: 54px;
    height: 34px;
    padding: 5px 3px;
    cursor: grab;
    opacity: 1;
    z-index: 2;
    &::after,
    &::before {
      text-align: center;
      width: 20px;
      height: 20px;
      color: $red-color;
    }
    &::after {
      content: "\23F5";
    }
    &::before {
      content: "\23F4";
    }
    &:hover {
      opacity: 1;
    }
  }
}
