.font {
  &__container {
    display: flex;
    justify-content: flex-end;
  }
  &__wrapper {
    display: inline-flex;
    gap: 92px;
    padding: 40px 0;
  }
  &__letters {
    display: flex;
    justify-content: space-between;
    width: 408px;
  }
  &__letter {
    width: 184px;
    height: 172px;
    font-size: 26px;
    font-style: normal;
    line-height: 145%;
    letter-spacing: 0.65px;
    &:nth-child(1) {
      color: $red-color;
    }
    &:nth-child(2) {
      color: $blue-color;
    }
  }
  &__red,
  &__blue {
    font-size: 150px;
    font-style: normal;
    font-weight: 300;
    line-height: 115%;
    letter-spacing: 3.75px;
    margin-bottom: 10px;
  }
  &__red {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px $red-color;
    border-bottom: 5px solid $red-color;
  }
  &__blue {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px $blue-color;
    border-bottom: 5px solid $blue-color;
  }

  &__text {
    width: 566px;
  }
  @media (max-width: $max-width) {
    &__container {
      justify-content: center;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0;
    }
    &__letters {
      justify-content: center;
      width: 100%;
      gap: 30px;
    }
    &__letter {
      width: 123px;
    }
    &__red,
    &__blue {
      font-size: 100px;
      font-style: normal;
      font-weight: 300;
      line-height: 115%;
      letter-spacing: 2.5px;
      line-height: 115%;
      margin-bottom: 10px;
    }
    &__text {
      width: 100%;
    }
  }
}
