include ../mixins/mixins.pug

+sectionWrapper("font", "font__container", "font__wrapper")
	.font__letters
		.font__letter
			.font__red Aa
			| #C10610
		.font__letter
			.font__blue Aa
			| #170754		
	p.font__text.text
		| Для сайта выбрали шрифт <b>San Francisco Pro</b>, 
		| который хорошо читается с разных устройств 
		| и не отвлекает внимание от товаров компании. 
		| При создании цветовой схемы мы использовали 
		| 4 основных цвета: <b>красный, синий, черный и серый</b>. 
		| Это решение обеспечивает сбалансированный и контрастный 
		| визуальный образ сайта и соответствует брендингу компании.

