.mockup {
  &__wrapper {
    position: relative;
    background: url("../../assets/img/mockup.png") no-repeat center;
    height: 703px;
  }
  &__lines {
    position: absolute;
    top: 220px;
    left: -76%;
    display: flex;
    flex-direction: column;
    gap: 160px;
    width: 3000px;
    z-index: -10;
    transform: rotate(20deg);
    animation: slide 2s forwards linear;
  }
  &__line {
    width: 100%;
    border-bottom: 1px solid rgba(22, 7, 85, 0.3);
  }
}
