section.present
	.container
		article.present__wrapper
			p.present__text.text
				| Важной целью дизайна было побудить пользователя оставить заявку на сайте, 
				| рассказать о возможностях и компетенции компании, 
				| спектре услуг и уровнях предлагаемых решений.
				span
					| Для этого мы сделали <b>качественную презентацию продукции, 
					| предоставили техническую информацию о товарах.</b>
			.present__image
