doctype html
html(lang= 'ru')
	head
		meta(charset='utf-8')
		title='Aquar-system.ru'
	body
		.wrapper
			include ./includes/header/header.pug
			main.main
				include ./includes/welcomeSection/welcomeSection.pug
				include ./includes/processSection/processSection.pug
				include ./includes/designSection/designSection.pug
				include ./includes/processSection/processSection.pug
				include ./includes/presentSection/presentSection.pug
				include ./includes/mobileSection/mobileSection.pug
				include ./includes/fontSection/fontSection.pug
				include ./includes/mockupSection/mockupSection.pug
				include ./includes/aboutSection/aboutSection.pug
			include ./includes/footer/footer.pug